body{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#work{
    display: none;
    width: calc(70vw + 100px);
    height: calc(90vh + 50px);
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#anim{
    margin-left: -5px;
    display: flex;
    width: 100%;
    height: 90vh;
    border: 5px solid red;
    margin-top: auto;
    background: url("texture.jpeg");
}
.form{
    display: flex;
    margin: 2vh;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
}
.controls{
    padding: 0;
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    justify-content: space-between;
    margin-bottom: auto;
    flex-direction: row;
}
#square{
    display: flex;
    width: 15px;
    margin: auto;
    transition: margin-top 100ms, margin-left 100ms;
}